.Rproj.user
.Rhistory
.RData
.Ruserdata
# secrets
.Renviron

# scratch work
scratch.R

# contain some (potentially) private info
template-pages/bug-00003.html
template-pages/bug-00052.html
template-pages/bug-00065.html

